*{
 margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e3edf7;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skill {
  width: 160px;
  height: 160px;
  /*background-color: orangered;*/
  position: relative;
}

.outer {
  height: 160px;
  width: 160px;
  padding: 20px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  border-radius: 50%;
}

.inner {
  height: 120px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow:
    inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
    0px 12px 10px -10px rgba(0, 0, 0, 0.05);
  border-radius: 50%;
}

#number {
  font-weight: 600;
  color: #555;
  font-size: 30px;
}

#circleSvg {
  position: absolute;
  top: 0;
  left: 0;
}

circle {
  stroke: url(#GradientColor);
  fill: none;
  stroke-width: 20px;
  stroke-linecap: round;
  stroke-dasharray: 450;
  stroke-dashoffset: 450;
  animation: anim 2s linear forwards;
}

@keyframes anim {
  100% {
    stroke-dashoffset: 157.5;
  }
}
